<!-- Create a jumbotron -->
<div class="jumbotron" style="background:url('https://wallpapercave.com/wp/Fd8KWLX.jpg'); background-repeat: no-repeat; background-size: cover; color:white">
    <!-- create a large margin on both sides of the page -->
    <div class="container">
        <!-- Make a title and 2 subtitles -->
        <h1 class="display-3">Vote for cats!</h1>
        <p class="lead">Please select the correct cat for governor!</p>
        <hr class="my-4">
        <p>Use this page to vote the best cat to govern our fair state!</p>

        <!-- Create a grid for sizing and aligning cards -->
        <div class="row" style="margin: 10px">

            <!-- Make a card that is 4/12 of the container wide, size some pictures and format title, text for each card -->
            <div class="card col-4">
                <div class="card-body text-center" style="background-color:white; color:black;">
                    <img src="https://images.pexels.com/photos/104827/cat-pet-animal-domestic-104827.jpeg" style="width: 25%; float:left" />
                    <h5 class="card-title">Mindy Meow AGAIN!</h5>
                    <span style="width: 100px">
                        Mindy is a nice cat who believes that mice should have voting rights.
                    </span>
                </div>
            </div>

            <!-- Have a blank div in the middle to distance the cards -->
            <div class="col-4"></div>

            <!-- the other cat -->
            <div class="card col-4">
                <div class="card-body text-center" style="background-color:white; color:black;">
                    <img src="https://images.pexels.com/photos/57416/cat-sweet-kitty-animals-57416.jpeg" style="width: 25%;float: left" />
                    <h5 class="card-title">Met Orange AGAIN!</h5>
                    <span style="width: 100px">
                        Met believes strongly in the congeniality of cat kind.
                    </span>
                </div>
            </div>
        </div>

        <!-- end the bootstrap row flow, divs will now flow under instead of to the left -->
        <br />

        <!-- lets put in a button for learn more that does nothing. -->
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="# " role="button0 ">Learn more!</a>
        </p>
    </div>
</div>